:root {
  --black: #000;
  --white: #fff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.heading {
  text-align: center;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: var(--white);
  -webkit-text-fill-color: transparent;
  background-color: #000;
  background-image: url('../images/5dc4231c6a906d0c373523c6_colour3dark.gif');
  background-position: 0 0;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Robot, sans-serif;
  font-size: 7.5rem;
  line-height: 5.2rem;
  position: relative;
}

.main-ting {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.main-ting-links {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.body {
  font-family: Robot, sans-serif;
}

.main-ting-link {
  float: left;
  color: var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  background-image: url('../images/5dc4231c6a906d0c373523c6_colour3dark.gif');
  background-position: 0 0;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
}

.main-ting-link:hover {
  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: var(--white);
  transform: scale(1.3);
}

.heading-ting-container {
  position: relative;
}

.image {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.link {
  color: var(--white);
}

.text-block {
  font-family: Inconsolata, monospace;
  font-size: 38px;
}

.text-block.terms {
  font-size: 27px;
}

.da-link {
  color: var(--white);
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: transparent;
  background-image: url('../images/5dc4231c6a906d0c373523c6_colour3dark.gif');
  background-position: 0 0;
  background-size: auto;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 34px;
  font-family: Robot, sans-serif;
  font-size: 88px;
}

.body-2 {
  font-family: Inconsolata, monospace;
}

.terms-link, .artist-link {
  color: var(--white);
}

.ticket-container {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  display: flex;
}

.ticket-link {
  min-width: 213px;
  color: var(--white);
  border: 4px solid #fff;
  border-radius: 31px;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 47px;
  text-decoration: none;
  display: flex;
}

.text-block-2 {
  font-size: 105px;
  line-height: 1;
}

.or {
  font-family: Robot, sans-serif;
}

@media screen and (max-width: 991px) {
  body {
    text-align: center;
  }

  .text-block {
    font-size: 33px;
  }

  .da-link {
    font-size: 71px;
  }

  .ticket-link {
    min-width: 181px;
    font-size: 33px;
  }

  .text-block-2 {
    font-size: 79px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 5.7rem;
    line-height: 4.5rem;
  }

  .text-block.terms {
    padding-left: 17px;
    padding-right: 17px;
  }

  .da-link {
    font-size: 58px;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 3.2rem;
    line-height: 3.3rem;
  }

  .main-ting {
    max-width: 100%;
  }

  .main-ting-links {
    flex-direction: row;
  }

  .main-ting-link {
    font-size: 3.3rem;
  }

  .text-block.terms {
    font-size: 21px;
  }

  .da-link {
    font-size: 42px;
  }

  .ticket-container {
    flex-direction: column;
  }
}


@font-face {
  font-family: 'Robot';
  src: url('../fonts/Robot.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}